/* styles.css */
.sidebar {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
}

.sidebar a {
  color: #1f2937; /* Gray-800 */
  transition: all 0.3s ease;
}

.sidebar a:hover {
  background-color: #e0e7ff; /* indigo-100 */
  color: #4f46e5; /* indigo-600 */
}
